.box{
    height: 500px;
    width: 500px;
    border:1px solid black;
    box-shadow: 5px 5px;
    font-family: arial;
    
}
h1{
    text-align: center;
    
}
.first{
    font-size: 24px;
    margin-left: 100px;
}
.second{
    color:red;
    margin-left: 140px;
}